@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
  --orange: #FF4800;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    list-style: none;
}

/* sec-nav start here */
.sec-nav{
    background-color: rgb(33, 29, 36);
    display: flex;
    color: white;
    height: 25px;
    
}

.nav-ul1{
    display: flex;
    width: 50%;
gap: 9px;
margin-left: 40px;
align-items: center;
font-size: 12px;


    
}
.nav-ul1 li a{
    color: white;
}



.nav-ul2{
    width: 50%;
    justify-content: right;
    margin-right: 30px;
    display: flex;
    font-size: 12px;
align-items: center;

    gap: 10px;
}
.fa-solid, .fa-brands{
    color: white;
}
.nav-s2{
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}

.s2-ul1{
    display: flex;
    color: var(--orange);
    font-size: 20px;
align-items: center;
justify-content: flex-start;

    gap: 10px;


}

.s2-ul2{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    justify-content: right;



}
.s2-ul2 li a{
    color: black;
}
#home{
    color: white;
    background-color: var(--orange);
    padding: 19px;


}


.s2-ul3{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.fa-truck{
    color: var(--orange);

    font-size: 25px;
    margin-left: 40px;

}

.button-1{
    background-color: var(--orange);

    padding: 10px;
    color: white;
    border: none;
    font-size: 14px;
}
.fa-bars{
    display: none;
}
/* .m-sec1  start here*/

.m-sec1{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(img/header.jpg);
    background-color: black;
    height: 500px;
    background-position: bottom;
    background-size: cover;
    opacity: 90%;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.m-sec1 p{
  color: var(--orange);
    font-size: 35px;
    font-weight: 700;
}
.m-sec1 h2{
    font-size: 60px;
}
#form-track{
    padding: 10px;
    width: 300px;
  }
 #form-button{
    padding: 10px;
    border: none;
    background-color: var(--orange);
    color: white;
  }
  /* m-sec2 start here */
  .m-sec2{
    padding: 80px;
    display: flex;
    width: 90%;
  }
  .msec2-div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

  }
  .h3-big{
    background-color: var(--orange);
  }
  .msec2-ul1{
    background-image: url(img/about.jpg);
    width: 400px;
    height: 300px;
    background-position: bottom;
    background-size: cover;
    
  }
  .m-sec3{
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 70%;
  }
  .fa-circle-play{
    color: var(--orange);
    background-color: black;
    border-radius: 50%;
    font-size: 50px;
  }
  .msec3-div1{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .play{
    font-size: 18px;
  }
  h4{
    color: var(--orange);
    font-weight: 800;
    font-size: 20px;
  }
  .h3{
    font-size: 30px;
  }
  .trust{
    font-size: 35px;
    width: 500px;
    font-weight: 900;

  }
  .p-all{
    font-size: 17px;
    color: grey;
  }
  /* m-sec4 start here */

  .m-sec4{
    background-color: rgb(212, 210, 210);
    display: flex;
    align-items: center;
  }
  .msec4-div1{
    padding: 50px 30px 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
  }
  .msec4-div2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .orang-p{
    color: var(--orange);
    font-size: 32px;
    font-weight: 700;

  }
  .art-p{
    font-size: 25px;
  }
  /* .msec4-div3{
    
  } */
  .form-1{
    background-color: var(--orange);
    width: 38%;
    /* margin-right: 70px; */


  }
  .main-f1{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px;

  }
  #name,
#email {
  padding: 10px;
  width: 300px;
  margin: 5px;
}
#select {
  padding: 10px;
  margin: 5px;
  width: 300px;

}
#submit{
  padding: 10px;
  margin: 5px;
  width: 300px;
  background-color: black;
  color: white;
  border: none;

}
/* m-sec5 start here */
.m-sec5{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 70px;
  gap: 20px;
}

.sec5-div1{
  display: flex;
  gap: 10px;
}

.sec5-div2{
  display: flex;
  flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sec5-div3{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--orange);
  width: 98%;
  justify-content: center;
  height: 60px;
}
.fa-plane,.fa-ship,#trek,.fa-store{
  color: black;
  font-size: 19px;
  text-align: center;
  font-size: 25px;
}
#trek{
  margin-left: 0px;
}
.name{
  color: white;
  font-size: 19px;
}
.btn-s5{
  color: var(--orange);
  border: none;
  background-color: white;
  font-size: 17px;
}
hr{
  width: 30%;
  margin-top: -20px;
  opacity: 60%;
}

/* m-sec6 start here */
.m-sec6{
  background-color: rgb(212, 210, 210);
  display: flex;
  gap: 20px;
  align-items: center;

}
.sec6-1{
  padding-left: 70px;
  height: 750px;
  width: 50%;


}

.img {
  background: url(img/feature.jpg);
  background-size: cover;
  background-position: center;
  object-fit: initial;
  width: 100%;
  height: 100%;
  

}
.sec6-div1{
  width: 45%;
  display: flex;
  flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width: 769px) {
    .nav-ul1, .nav-ul2{
        font-size: 12px;
        gap: 5px;

        
    }

    .nav-s2{
        height: 50px;
        
    }
    .fa-bars{
        display: block;
        color: black;
        align-self: center;
        margin-left: 30px;
        font-size: 30px;
    }
    .s2-ul2{
        display: none;
    }
    
    .s2-ul1{
        font-size: 18px;
        gap: 10px;
    
    
    }
   
    .s2-ul3{
        margin-right: 30px;
    }
    .fa-truck{
        font-size: 23px;
    
    }
    
    .button-1{
        padding: 8px;
        font-size: 12px;
    }
/* m-sec1 start here */
    .m-sec1{
        width: 768px;
        height: 250px;
        gap: 15px;
    }
    .m-sec1 p{
        font-size: 25px;
        font-weight: 500;
    }
    .m-sec1 h2{
        font-size: 45px;
    }
    #form-track{
        padding: 5px;
        width: 200px;
      }
     #form-button{
        padding: 5px;
        border: none;
        background-color: #FF4800;
        color: white;
      }

      /* m-sec2 start here */
  .m-sec2{
    padding: 40px;
    width: 90%;
  }
  .msec2-ul1{
    width: 250px;
    height: 200px;

  }
  .play{
    font-size: 15px;
  }
  h4{
    color: #FF4800;
    font-weight: 700;
    font-size: 15px;
  }
  .h3{
    font-size: 20px;
  }
  .trust{
    font-size: 25px;
    width: 300px;
    font-weight: 700;

  }
  .p-all{
    font-size: 12px;
    color: grey;
  }
  .m-sec3{
    padding: 15px;
    gap: 10px;
  }
  .fa-circle-play{
    font-size: 35px;
  }
/* msec-4 start here  */
.m-sec4{
  width: 100%;
  height: 300px;
}
  .msec4-div1{
    width: 470px;
    padding: 30px 20px 30px 40px;
    gap: 15px;
  }
  .orang-p{
    font-size: 22px;
    font-weight: 700;

  }
  .art-p{
    font-size: 17px;
  }

  .form-1{
    width: 330px;
    margin-right: 50px;
    height: 100%;



  }
  #name,
#email {
  padding: 8px;
  width: 200px;
}
#select {
  padding: 8px;
  width: 200px;

}
#submit{
  padding: 8px;
  width: 200px;

}
/* m-sec5 start here */

.m-sec5{
  padding: 40px;
  gap: 10px;
}

.sec5-div3{
  height: 40px;

}
.fa-plane,.fa-ship,#trek,.fa-store{
  font-size: 20px;

}
#trek{
  margin-left: 0px;
}

.name{
  font-size: 17px;
}
.btn-s5{
  font-size: 14px;
}
hr{
  width: 50%;

}






}


@media screen and (max-width: 426px) {
    .nav-ul1, .nav-ul2{
        font-size: 9px;
        margin-left: 20px;

        
    }


    .vvv{
        height: 40px;
        
    }
    .fa-bars{
        margin-left: 20px;
        font-size: 25px;
    }
    
    .s2-ul1{
        font-size: 16px;
        gap: 10px;
    
    
    }
   
    .s2-ul3{
        margin-right: 30px;
    }
    
    .button-1{
        padding: 7px;
        font-size: 11px;
    }

    /* m-sec1 start here */
    .m-sec1{
        width: 425px;
        height: 140px;
        gap: 8px;
    }
    .m-sec1 p{
        font-size: 20px;
        font-weight: 500;
    }
    .m-sec1 h2{
        font-size: 30px;
    }
    #form-track{
        padding: 5px;
        width: 150px;
      }
     #form-button{
        padding: 5px;
        border: none;
        background-color: #FF4800;
        color: white;
      }

  .msec2-ul1{
    width: 385px;
    height: 250px;
  }

  .m-sec2{
    /* display: flex; */
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .m-sec3{
padding-top: 20px;
}
    /* m-sec3 end here */

 /* msec-4 start here  */
.m-sec4{
  width: 100%;
  height: 250px;
}
  .msec4-div1{
    width: 240px;
    padding: 10px 10px 10px 20px;
    gap: 15px;
  }
  .orang-p{
    font-size: 18px;
    font-weight: 700;

  }
  .art-p{
    font-size: 15px;
  }

  .form-1{
    width: 170px;
    margin-right: 50px;
    height: 100%;



  }
  #name,
#email {
  padding: 3px;
  width: 120px;
}
.req{
  font-size: 22px;
}
#select {
  padding: 3px;
  width: 120px;

}
#submit{
  padding: 3px;
  width: 120px;

}   
/* m-sec5 start here */
.m-sec5{
  padding: 20px;
  gap: 10px;
}
.sec5-div3{
  height: 30px;

}
.fa-plane,.fa-ship,#trek,.fa-store{
  font-size: 15px;

}
.name{
  font-size: 14px;
}

.btn-s5{
  font-size: 12px;
}
.sec5-div1{
  display: flex;
  flex-direction: column;
  width: 170px;
  gap: 20px;
}




}